{% extends "custom_admin/dashboard.html" %}

{% block head %}

<style>
    table {

        text-transform: uppercase;    
    }


    .table thead th{
        background-color: #3F007A;
        color: #fff;
    }

    .container{
        margin-top: 6dvh;
    }

    .table{
     border-radius: 12px;        /* Round table corners */
    overflow: hidden;           /* Ensures header/rows follow rounding */
    border: 1px solid #ddd;
    }

    td a{
    color: #3F007A;
    text-decoration: none;
        
    }
    td a:hover{
        color: black;
        font-weight: 600;
    }

   
  
</style>
{% endblock %}



    

{% block work %}
<div class="container">
    <div class="app"><h2>All Applications</h2></div>
<div class="table-responsive ">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>PHOTO</th>
                <th>NAME</th>
                <th>JOB</th>
                
                <th>APPLIED ON</th>
                <th>RESUME</th>
                <th>INFO</th>
                <th>DELETE</th>

            </tr>
        </thead>
        <tbody>
            {% for x in app %}
            <tr>
                <td>{% if x.profile_photo %}
                    <a href="{{x.profile_photo.url}}" download> <img src="{{x.profile_photo.url}}" width="50"
                            height="50" download> </a>
                    {% else %}
                    No File
                    {% endif %}
                </td>
                <td>{{x.full_name}}</td>
                <td>{{x.job.title}}</td>
                
                <td>{{x.applied_on}}</td>

                <td>{% if x.resume %}
                    <a href="{{x.resume.url}}" download> DOWNLOAD </a>
                    {% else %}
                    No File
                    {% endif %}</td>

                <td> 
                    <a href="/applications/{{x.pk}}/pdf/">PDF</a>
                </td>
                <td><a class="btn btn-danger " href="{% url 'custom_admin:del_app' x.pk %}">DELETE</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


</div>


{% endblock %}
